* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body {
    background-color: darkcyan;
}

.two_items {
    display: flex;
}

.cv_photo {
    width: 50%;
    text-align: center;
    margin-top: 15px;
}

.contact_info {
    width: 50%;
}

.cv_photo img {
    width: 80%;
    max-width: 250px;
    max-height: 250px;
    border: 5px powderblue dotted;
}

h1,h2,h3 {
    margin: 15px 0 5px;
}

.name {
    margin-top: 0;
}

li {
    margin: 5px 0 0 15px;
}

span {
    display: block;
    margin-top: 5px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    max-width: 768px;
    min-width: 465px;
    width: 75%;
    background-color: aliceblue;
    border: 10px powderblue solid;
    margin: 10px auto 0;
    padding: 10px;
}

footer {
    max-width: 768px;
    min-width: 465px;
    width: 75%;
    background-color: aliceblue;
    border: 10px powderblue solid;
    margin: -10px auto 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div {
    vertical-align: middle;
}

footer img {
    height: 32px;
}