* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 15px 0 5px 10px;
}

hr {
    margin-bottom: 10px;
}

ul {

}

li {
    margin: 5px 0 5px 40px;
}

span {
    margin: 5px 0 5px 10px;
}

div {
    margin: 10px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}